/* for every element in html*/

* {
    font-family:"Poppins", sans-serif; 
}

/*
FORM STYLING
*/

.form-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top:50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:  white; 
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:black;
  }


/*
curved svg styling
*/  
.curved {
    background: #0bd3d3;
    text-align:center;
}


.curved svg{
    display: block;
}

.curved.upper{
background:black;    
}

.curved.upper h3{
    text-align:center;
    color:white;
    margin-top:0;
}


.curved h2{
    text-align: center;
    color:white;
    margin-top:0;
}


